[mysqld]
pid-file=/var/lib/mysql/mysqld.pid
wait_timeout=86400
interactive_timeout=86400
log_warnings=2
max_allowed_packet=64M
max_connections=200
net_read_timeout = 600
net_write_timeout = 600

[client]
socket=/var/run/mysqld/mysqld.sock
